{% extends 'app_general/components/base.html' %}
{% block site_title %}CE 01{% endblock %}
{% block content %}
    <h1>CE 01</h1>
    <table border="1">
        <tr>
            <th>gender</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for item in ce01s %}
            {% if item.years == 1 %}
            <tr>
                <td>{{ item.gender }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock content %}