{% extends 'app_general/components/base.html' %}
{% block site_title %}CE 01{% endblock %}
{% block content %}
    <h1>CE 01</h1>
    <table border="1">
        <tr>
            <th>รหัสนักศึกษา</th>
            <th>ชื่อ-นามสกุล</th>
        </tr>
        {% for item in ce01s %}
            {% if item.years == 4 %}
            <tr>
                <td><a href="{% url 'ce01' item.D %}">{{ item.student_id }}</a></td>
                <td><a href="{% url 'ce01' item.D %}">{{ item.name }}</a></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock content %}