{% extends 'app_general/components/base.html' %}
{% block site_title %}CE 03{% endblock %}
{% block content %}
<h1>CE 03</h1>
<table border="1">
    <tr>
        <th>รหัสนักศึกษา</th>
        <th>ชื่อ-นามสกุล</th>
    </tr>
    {% for item in ce03s %}
        {% if item.years == 2 %}
        <tr>
            <td><a href="{% url 'ce03' item.D %}">{{ item.student_id }}</a></td>
            <td><a href="{% url 'ce03' item.D %}">{{ item.name }}</a></td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
{% endblock content %}